@import "../sass/constants";

.about {
  padding-bottom: 20px;
  &__title {
    text-align: center;
    @include font($size: 2.5rem, $weight: 700, $height: 1.4rem);
    @extend %font-caveat;
    margin-bottom: 40px;
  }

  &__text {
    margin: 20px auto 0;
    width: 100rem;
    @include font($size: 2rem, $weight: 400, $height: 3rem);
    @extend %font-prompt;
    @include media-big-desctop {
      width: 80rem;
    }
    @include media-desctop-small {
      width: 60rem;
    }
    @include media-tablet {
      width: 45rem;
      @include font($size: 1.5rem, $weight: 400, $height: 3rem);
    }
    @include media-mobile {
      width: 35rem;
    }
  }

  &__info-text {
    width: 77rem;
    @include font($size: 2rem, $weight: 400, $height: 3rem);
    @extend %font-prompt;
    @include media-desctop-small {
      width: 60rem;
    }
    @include media-tablet {
      width: 45rem;
      @include font($size: 1.5rem, $weight: 400, $height: 3rem);
    }
    @include media-mobile {
      width: 35rem;
    }
  }

  &__info-title {
    @include font($size: 3rem, $weight: 400, $height: 3rem);
    @extend %font-caveat;
    color: #079c5a;
    text-align: center;
    @include media-desctop-small {
      @include font($size: 2.5rem, $weight: 400, $height: 3rem);
    }
    @include media-tablet {
      @include font($size: 2rem, $weight: 400, $height: 3rem);
    }
  }

  &__logo-word {
    @include font($size: 3.5rem, $weight: 400, $height: 3rem);
    @extend %font-caveat;
    color: #079c5a;
    @include media-tablet {
      @include font($size: 2.5rem, $weight: 400, $height: 3rem);
    }
  }

  &__band {
    width: 90%;
    height: 3px;
    margin: 0 auto 30px;
    color: #079c5a;
  }

  &__info-wrapper {
    display: flex;
    flex-direction: column;
    gap: 70px;
  }

  &__info-block {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    @include media-big-desctop {
      flex-direction: column;
      gap: 10px;
    }
  }

  &__info-text-block {
    @include media-mobile {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__img-info-block {
    width: 30%;
    height: 25rem;
    @include media-desctop-small {
      width: 50%;
    }
    @include media-tablet {
      width: 65%;
    }
    @include media-mobile {
      width: 90%;
    }
  }

  &__img-info-block img {
    width: 100%;
    height: 100%;
  }

  &__delivery-block {
    margin-top: 70px;
  }
}
