.big-card {
  display: flex;
  justify-content: center;
  align-items: center;
  &__main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 0;
  }

  &__card-block {
    width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    @include media-desctop-small {
      flex-direction: column;
      width: 600px;
    }
    @include media-tablet {
      width: 370px;
    }
  }

  &__img-block {
    width: 50%;
    border: 0.5px solid gray;
    height: 24.5rem;
    @include media-desctop-small {
      width: 60%;
    }
    @include media-tablet {
      width: 90%;
    }
  }

  &__img-block img {
    width: 100%;
    height: 100%;
  }

  &__text-block {
    display: flex;
    flex-direction: column;
    gap: 20px;
    @include media-desctop-small {
      align-items: center;
    }
  }

  &__btn {
    justify-content: center;
  }

  &__title {
    @include font($size: 3rem, $weight: 700, $height: 2.5rem);
    @extend %font-caveat;
    color: #079c5a;
    margin: 0;
  }

  &__desc-text {
    @include font($size: 1.4rem, $weight: 600, $height: 2.4rem);
    @extend %font-prompt;
    margin: 0;
  }

  &__compound-text {
    @include font($size: 1.5rem, $weight: 400, $height: 2.4rem);
    @extend %font-prompt;
    color: gray;
    margin: 0;
    @include media-tablet {
      @include font($size: 1.4rem, $weight: 400, $height: 2.4rem);
    }
  }

  &__price {
    @include font($size: 1.8rem, $weight: 600, $height: 2.4rem);
    @extend %font-prompt;
    margin: 0;
  }

  &__souce-text {
    @include font($size: 1.5rem, $weight: 400, $height: 2.4rem);
    @extend %font-prompt;
    margin: 0;
  }

  &__form {
    display: flex;
    gap: 10px;
  }

  &__label {
    @include font($size: 1.7rem, $weight: 400, $height: 2.4rem);
    @extend %font-prompt;
  }

  &__max {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    @include font($size: 2.1rem, $weight: 400, $height: 2.4rem);
    @extend %font-prompt;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__quantity-controller {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__green {
    background-color: #079c5a;
  }

  &__green:hover {
    background-color: #146c43;
    transition: 0.3s;
  }

  &__dark:hover {
    background-color: gray;
    transition: 0.3s;
  }

  &__price-quantity-block {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__number {
    @include font($size: 1.5rem, $weight: 400, $height: 1rem);
    @extend %font-prompt;
  }
}

.big-card__img {
  cursor: all-scroll;
  transition: transform 0.3s ease-in-out;
}

.big-card__img-block {
  overflow: hidden;
}

.big-card__img-block:hover .big-card__img {
  transform: scale(1.5);
}

.label.selected {
  color: #079c5a;
}

.radio {
  display: none;
}

.radio-custom {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 5px solid gray;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  cursor: pointer;
}

.radio:checked + .radio-custom {
  border-color: #079c5a;
  box-shadow: 0 1px 1px rgba(255, 198, 5, 0.05),
    0 2px 2px rgba(255, 198, 5, 0.05), 0 4px 4px rgba(255, 198, 5, 0.05),
    0 8px 8px rgba(255, 198, 5, 0.05), 0 16px 16px rgba(255, 198, 5, 0.05),
    0 32px 32px rgba(255, 198, 5, 0.05), 0 -2px 4px rgba(255, 198, 5, 0.05);
}
