@import url("https://fonts.googleapis.com/css2?family=Prompt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
  height: 100%;
}

body {
  background-color: #f5f5f5;
  background-image: url(../img/background2.jpg);
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: 35rem;
  height: 100%;
}

.container {
  background-color: white;
  box-shadow: 10px 10px 40px -1px rgba(0, 0, 0, 0.23);
  padding: 0 !important;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

#scrolTop {
  position: fixed;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.9rem;
  color: #000000;
  bottom: 5rem;
  right: 5rem;
  cursor: pointer;
  text-decoration: none;
}
@media (max-width: 1299px) {
  #scrolTop {
    display: none;
  }
}

.main {
  flex: 1 1 auto;
}

.footer__stroke, .footer__text, .big-card__price, .big-card__compound-text, .big-card__desc-text, .about__info-text, .about__text, .card-text, .btn-success, .nav-link, .navbar-brand {
  font-family: "Prompt", sans-serif;
}

.footer__soc-title, .footer__contact, .big-card__title, .about__logo-word, .about__info-title, .about__title, h5, .card-title, .cards__menu, .header__title {
  font-family: "Caveat", cursive;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background-color: white;
}
.header__logo-drop {
  box-shadow: 10px 10px 40px -1px rgba(0, 0, 0, 0.23);
}
.header__logo-title {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 30px;
}
@media (max-width: 767px) {
  .header__logo-title {
    justify-content: space-between;
  }
}
.header__nav-title {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media (max-width: 991px) {
  .header__nav-title {
    display: none;
  }
}
.header__logo {
  padding: 20px 0 20px 20px;
  width: 150px;
}
.header__logo img {
  width: 100%;
}
.header__title {
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.4rem;
}
@media (max-width: 991px) {
  .header__title {
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.4rem;
  }
}
.header__video-block {
  margin-top: 20px;
  position: relative;
  width: 100%;
  height: 300px;
}
.header__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.header__nav-list {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
  padding: 0;
}
.header__btn-block {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 20px;
  padding: 10px 20px 10px 0;
}
@media (max-width: 586px) {
  .header__btn-block {
    flex-wrap: wrap;
    justify-content: end;
  }
}
.header__btn-menu {
  flex-wrap: wrap;
}
.header__link-basket {
  display: flex;
  align-items: center;
  gap: 5px;
}
.header__basket {
  width: 20px;
  height: 20px;
}
.header__basket img {
  width: 100%;
  height: 100%;
}

.container-fluid {
  gap: 10px;
}

.navbar-nav {
  gap: 15px;
}

.navbar-brand {
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem;
  color: black;
}

.navbar-brand:hover {
  color: #079c5a;
  transition: 0.2s;
}

.nav-link {
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem;
  color: black;
}

.nav-link:hover {
  color: #079c5a;
  transition: 0.2s;
}

.btn-success {
  background-color: #079c5a;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem;
  padding: 20px 10px;
}

.header__link-basket,
.dropdown {
  height: 52px;
}

.dropdown-item {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5rem;
}

.cards {
  display: grid;
  grid-template-columns: 170px 1fr;
  grid-template-rows: auto 1fr auto auto;
  grid-column-gap: 40px;
  grid-template-areas: "sidebar toolbar" "sidebar products" "sidebar description" "small-categories small-categories";
  padding: 40px 40px 40px;
}
@media (max-width: 767px) {
  .cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "sidebar" "products";
  }
}
.cards__aside {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
}
.cards__filter {
  width: 170px;
  padding: 20px;
  border: 1px solid #079c5a;
  border-radius: 5px;
}
.cards__el {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 35px;
  border-top: 1px solid #079c5a;
}
.cards__menu {
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1rem;
  text-align: center;
}
.cards__link {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6rem;
  text-decoration: none;
  color: black;
}
.cards__link:hover {
  color: #079c5a;
}
.cards__btn {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media (max-width: 586px) {
  .cards__btn {
    width: 55%;
  }
}
.cards__basket {
  width: 20px;
  height: 20px;
}
.cards__basket img {
  width: 100%;
  height: 100%;
}
.cards__price-btn {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.cards__description {
  margin-top: 10px;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6rem;
  color: gray;
}
.cards__basket-title {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem;
  margin: 0;
}
@media (max-width: 586px) {
  .cards__row {
    padding: 10px !important;
  }
}

.row {
  gap: 30px;
}

.card {
  min-width: 270px;
  overflow: hidden;
  cursor: pointer;
}

.card-title {
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.5rem;
  color: #079c5a;
}

.card-text {
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5rem;
  margin: 0;
}

.btn-primary {
  background-color: #079c5a;
}

.card-img-top {
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  transform-origin: center;
}

.card:hover .card-img-top {
  transform: scale(1.5);
}

.pagination {
  justify-content: center;
}

.pagination .page-link {
  color: #079c5a;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5rem;
}

.pagination .page-item.active .page-link {
  background-color: #079c5a;
  border-color: #079c5a;
}

.page-link:hover {
  color: #079c5a;
}

.slider__band {
  margin: 20px auto 0;
  width: 90%;
  color: #079c5a;
}

.carousel-item {
  height: 40rem;
}

.carousel-item img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 90%;
  width: 50%;
}

h5 {
  margin-bottom: 20px;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1rem;
}

.about {
  padding-bottom: 20px;
}
.about__title {
  text-align: center;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.4rem;
  margin-bottom: 40px;
}
.about__text {
  margin: 20px auto 0;
  width: 100rem;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3rem;
}
@media (max-width: 1299px) {
  .about__text {
    width: 80rem;
  }
}
@media (max-width: 991px) {
  .about__text {
    width: 60rem;
  }
}
@media (max-width: 767px) {
  .about__text {
    width: 45rem;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3rem;
  }
}
@media (max-width: 586px) {
  .about__text {
    width: 35rem;
  }
}
.about__info-text {
  width: 77rem;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3rem;
}
@media (max-width: 991px) {
  .about__info-text {
    width: 60rem;
  }
}
@media (max-width: 767px) {
  .about__info-text {
    width: 45rem;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3rem;
  }
}
@media (max-width: 586px) {
  .about__info-text {
    width: 35rem;
  }
}
.about__info-title {
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3rem;
  color: #079c5a;
  text-align: center;
}
@media (max-width: 991px) {
  .about__info-title {
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3rem;
  }
}
@media (max-width: 767px) {
  .about__info-title {
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3rem;
  }
}
.about__logo-word {
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3rem;
  color: #079c5a;
}
@media (max-width: 767px) {
  .about__logo-word {
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3rem;
  }
}
.about__band {
  width: 90%;
  height: 3px;
  margin: 0 auto 30px;
  color: #079c5a;
}
.about__info-wrapper {
  display: flex;
  flex-direction: column;
  gap: 70px;
}
.about__info-block {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
@media (max-width: 1299px) {
  .about__info-block {
    flex-direction: column;
    gap: 10px;
  }
}
@media (max-width: 586px) {
  .about__info-text-block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.about__img-info-block {
  width: 30%;
  height: 25rem;
}
@media (max-width: 991px) {
  .about__img-info-block {
    width: 50%;
  }
}
@media (max-width: 767px) {
  .about__img-info-block {
    width: 65%;
  }
}
@media (max-width: 586px) {
  .about__img-info-block {
    width: 90%;
  }
}
.about__img-info-block img {
  width: 100%;
  height: 100%;
}
.about__delivery-block {
  margin-top: 70px;
}

.video__band {
  margin: 30px auto 0;
  width: 90%;
  color: #079c5a;
}

.filter-menu__link {
  display: flex;
  justify-content: center;
  position: relative;
  border-radius: 5px;
  border: 1px solid #eee;
  box-shadow: 0 0 15px 0 #eee;
  transition: box-shadow 0.3s ease-in-out;
  text-decoration: none;
}
.filter-menu__link:hover {
  box-shadow: 0 0 15px 0 #ccc;
}
.filter-menu__title {
  position: absolute;
  left: 10%;
  bottom: 7%;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.4rem;
  color: black;
}

.row {
  padding: 30px;
  align-items: center;
}
@media (max-width: 586px) {
  .row {
    margin: 0;
  }
}

.big-card {
  display: flex;
  justify-content: center;
  align-items: center;
}
.big-card__main-container {
  position: relative;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.big-card__card-block {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
@media (max-width: 991px) {
  .big-card__card-block {
    flex-direction: column;
    width: 600px;
  }
}
@media (max-width: 767px) {
  .big-card__card-block {
    width: 370px;
  }
}
.big-card__img-block {
  width: 50%;
  border: 0.5px solid gray;
  height: 24.5rem;
}
@media (max-width: 991px) {
  .big-card__img-block {
    width: 60%;
  }
}
@media (max-width: 767px) {
  .big-card__img-block {
    width: 90%;
  }
}
.big-card__img-block img {
  width: 100%;
  height: 100%;
}
.big-card__text-block {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 991px) {
  .big-card__text-block {
    align-items: center;
  }
}
.big-card__btn {
  justify-content: center;
}
.big-card__title {
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.5rem;
  color: #079c5a;
  margin: 0;
}
.big-card__desc-text {
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.4rem;
  margin: 0;
}
.big-card__compound-text {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
  color: gray;
  margin: 0;
}
@media (max-width: 767px) {
  .big-card__compound-text {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.4rem;
  }
}
.big-card__price {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.4rem;
  margin: 0;
}

.big-card__img {
  cursor: all-scroll;
  transition: transform 0.3s ease-in-out;
}

.big-card__img-block {
  overflow: hidden;
}

.big-card__img-block:hover .big-card__img {
  transform: scale(1.5);
}

.footer {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color: #180c05;
}
@media (max-width: 767px) {
  .footer {
    flex-direction: column;
    gap: 50px;
  }
}
.footer__contact {
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1rem;
  color: white;
}
.footer__icon-text-block {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
}
.footer__icon-text {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
}
.footer__text {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.4rem;
  color: white;
  text-decoration: none;
  transition: -webkit-text-decoration 0.3s ease;
  transition: text-decoration 0.3s ease;
  transition: text-decoration 0.3s ease, -webkit-text-decoration 0.3s ease;
  display: flex;
  align-items: baseline;
  gap: 8px;
}
.footer__text:hover {
  color: #079c5a;
}
.footer__text::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 30%;
  display: block;
  background: none repeat scroll 0 0 transparent;
  height: 2px;
  width: 0;
  background: white;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
}
.footer__text:hover::after {
  width: 9%;
  left: 0;
}
.footer__stroke {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.4rem;
  color: white;
  margin: 0;
}
.footer__work-time {
  display: flex;
  flex-direction: column;
}
@media (max-width: 767px) {
  .footer__contact-block {
    order: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.footer__social-block {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media (max-width: 767px) {
  .footer__social-block {
    order: 1;
    align-items: center;
    gap: 10px;
  }
}
.footer__soc-title {
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 4rem;
  color: white;
}
@media (max-width: 586px) {
  .footer__soc-title {
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 4rem;
  }
}
.footer__soc {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid white;
  cursor: pointer;
}
.footer__soc:hover {
  background: #079c5a;
  transition: 0.3s;
}
.footer__operator {
  width: 30px;
  height: 30px;
}
.footer__operator img {
  width: 100%;
  height: 100%;
}/*# sourceMappingURL=style.css.map */